{% extends 'accounts/clients/base-2.html' %}
{% load static %}
{% load crispy_forms_tags %}

    {% block content %}
    <div id="layoutSidenav">
       

        
        <div id="layoutSidenav_content">
            <main>
                
                <div class="container-fluid">
                    <br/>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    <div class="row">
                    </div>

                </div>
                <div class="container mt-4">
                    <!-- Account page navigation-->
                    <hr class="mt-0 mb-4">
                    <div class="row">
                        
                        <div class="col-xl-8">
                            <!-- Account details card-->
                            <div class="card mb-4">
                                <div class="card-header">Product Details</div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        <!-- Form Group (username)-->
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputUsername">Product Name (how your name will appear to other users on the site)</label>
                                           {{form.name | crispy}}
                                        </div>
                                        <!-- Form Row-->
                                        <div class="form-row">
                                            <!-- Form Group (first name)-->
                                            <div class="form-group col-md-6">
                                                <label class="small mb-1" for="inputFirstName">Price</label>
                                                {{form.price | crispy}}
                                            </div>
                                            <!-- Form Group (last name)-->
                                            <div class="form-group col-md-6">
                                                <label class="small mb-1" for="inputLastName">Category</label>
                                               {{form.category | crispy}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputUsername">Description</label>
                                            {{form.description | crispy}}
                                        </div>
                                        <!-- Form Row        -->
                                        <div class="form-row">
                                            <!-- Form Group (organization name)-->
                                            <div class="form-group col-md-6">
                                                <label class="small mb-1" for="inputOrgName">Stock No</label>
                                                {{form.stock | crispy}}
                                            </div>
                                            <!-- Form Group (location)-->
                                            <div class="form-group col-md-6">
                                                <br/>
                                                
                                                <!--input type="file" name="image"  class="btn btn-primary" accept="image/*" id="id_image"-->
                                                {{form.image | crispy}}
                                                
                                            </div>
                                        </div>
                                        <!-- Form Group (email address)-->
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <!--input class="custom-control-input" id="customCheck1" type="checkbox" name="available"-->
                                                {{form.available | crispy}}
                                                <label class="custom-control-label" for="customCheck1">Available</label>
                                            </div>
                                        </div>
                                        <!-- Form Row->
                                        <div class="form-row">
                                            <!-- Form Group (phone number)\->
                                            <div class="form-group col-md-6">
                                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                                            </div>
                                            <!-- Form Group (birthday)->
                                            <div class="form-group col-md-6">
                                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                                <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                                            </div>
                                        </div>
                                        <!- Save changes button-->
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <!-- Profile picture card-->
                            <div class="col-xl-3 col-md-6">
                                <div class="card-body mb-4">
                                    
                                    <div class="sbp-dropdown-example">
                                        <div class="dropdown-notifications">
                                            <div class="dropdown-menu dropdown-menu-right border-0 shadow" aria-labelledby="navbarDropdownAlerts">
                                                <h6 class="dropdown-header dropdown-notifications-header">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell mr-2"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                                                    Notice Board
                                                </h6>
                                                <!-- Example Item 1-->
                                                <a class="dropdown-item dropdown-notifications-item" href="javascript:void(0);">
                                                    <div class="dropdown-notifications-item-icon bg-warning"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg></div>
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                        <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                    </div>
                                                </a>
                                                <!-- Example Item 2-->
                                                <a class="dropdown-item dropdown-notifications-item" href="javascript:void(0);">
                                                    <div class="dropdown-notifications-item-icon bg-info"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart"><line x1="12" y1="20" x2="12" y2="10"></line><line x1="18" y1="20" x2="18" y2="4"></line><line x1="6" y1="20" x2="6" y2="16"></line></svg></div>
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                        <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                    </div>
                                                </a>
                                                <!-- Example Item 3-->
                                                <a class="dropdown-item dropdown-notifications-item" href="javascript:void(0);">
                                                    <div class="dropdown-notifications-item-icon bg-danger"><svg class="svg-inline--fa fa-exclamation-triangle fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation-triangle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path></svg><!-- <i class="fas fa-exclamation-triangle"></i> --></div>
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                        <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                    </div>
                                                </a>
                                                <!-- Example Item 4-->
                                                <a class="dropdown-item dropdown-notifications-item" href="javascript:void(0);">
                                                    <div class="dropdown-notifications-item-icon bg-success"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg></div>
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                        <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item dropdown-notifications-footer" href="javascript:void(0);">Dropdown Footer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </main>
        </div>
    </div>



    {% endblock content %}