<footer class="section-footer border-top">
    <section class="footer-top padding-y-sm">
        <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <select class="form-control mr-2">
                                <option>USD</option>
                                <option>EUR</option>
                                <option>RUBL</option>
                            </select>
                            <select class="form-control">
                                <option>United States</option>
                                <option>Russia</option>
                                <option>Uzbekistan</option>
                            </select>
                        </div> <!-- form-inline.// -->
                    </div>
                    <div class="col-md-4">
                        <form>
                            <div class="input-group">
                                <input type="text" placeholder="Email" class="form-control" name="">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary"> Subscribe</button>
                                </span>
                            </div> <!-- input-group.// -->
                        </form>
                    </div>
                    <div class="col-md-4 text-md-right">
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-youtube"></i></a>
                    </div>
                </div> <!-- row.// -->
        </div><!-- //container -->
    </section>	<!-- footer-top.// ->
    <section class="footer-main border-top padding-y">
        <div class="container">
        <div class="row">
            <aside class="col-md">
                <h6 class="title">Brands</h6>
                <ul class="list-unstyled">
                    <li> <a href="#">Adidas</a></li>
                    <li> <a href="#">Puma</a></li>
                    <li> <a href="#">Reebok</a></li>
                    <li> <a href="#">Nike</a></li>
                </ul>
            </aside>
            <aside class="col-md">
                <h6 class="title">Company</h6>
                <ul class="list-unstyled">
                    <li> <a href="#">About us</a></li>
                    <li> <a href="#">Career</a></li>
                    <li> <a href="#">Find a store</a></li>
                    <li> <a href="#">Rules and terms</a></li>
                    <li> <a href="#">Sitemap</a></li>
                </ul>
            </aside>
            <aside class="col-md">
                <h6 class="title">Help</h6>
                <ul class="list-unstyled">
                    <li> <a href="#">Contact us</a></li>
                    <li> <a href="#">Money refund</a></li>
                    <li> <a href="#">Order status</a></li>
                    <li> <a href="#">Shipping info</a></li>
                    <li> <a href="#">Open dispute</a></li>
                </ul>
            </aside>
            <aside class="col-md">
                <h6 class="title">Account</h6>
                <ul class="list-unstyled">
                    <li> <a href="#"> User Login </a></li>
                    <li> <a href="#"> User register </a></li>
                    <li> <a href="#"> Account Setting </a></li>
                    <li> <a href="#"> My Orders </a></li>
                </ul>
            </aside>
            <aside class="col-md">
                <h6 class="title">Resources</h6>
                <ul class="list-unstyled">
                    <li><a href="#"> Documents </a> </li>
                    <li><a href="#"> Webinars</a> </li>
                    <li><a href="#"> Product samples </a></li>
                </ul>
            </aside>
        </div> <!-- row.// -
        </div><!-- //container ->
    </section>	<!-- footer-top.// -->

    <section class="footer-bottom border-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span  class="pr-2">&copy  PLP Online Store</span>
                    <span  class="pr-2"><a href="#">Privacy policy</a></span>
                    <span  class="pr-2"><a href="#">Terms of use</a></span>
                </div>
                <div class="col-md-6 text-md-right">
                    <a href=""><img src="../images/misc/appstore.png" height="30"></a>
                    <a href=""><img src="../images/misc/playmarket.png" height="30"></a>
                </div>
            </div> <!-- row.// -->
        </div><!-- //container -->
    </section>

</footer>