{% extends 'base/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="jumbotron jumbotron-image color-grey-light">
    <div class="hero-wrap hero-bread overlay-gradient" style="background-image: url('{% static 'img/plp.png' %}');"> 
      <div class="container text-center white-text py-5">
        <h1 class="mb-3">Shop With PLP Online Store</h1>
        <p class="mb-0">Get more deals everyday, every week, and every month. Yes we have your favorite local brands</p>
      </div>
    </div>
  </div>
<section class="section-intro padding-y-sm">
    <!--div class="container p-0">
    
      <div class="hero-wrap hero-bread overlay-gradient" style="background-image: url('{% static 'img/plain-logo.png' %}');">
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
              <h1 class="mb-0 bread">Food Store</h1>
            </div->
          </div>
        </div>
      </div-->
    <!--div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/1.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/banner-1.jpg' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/1.jpg' %}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div-->
    
    </div> <!-- container //  -->
    </section>
        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-content">
            <div class="container">

        
                <div class="row">
                    <div class="col-md-8">
            <!-- ============================ COMPONENT BANNER 7 ================================= -->
            <div class="card-banner overlay-gradient view zoom z-depth-1" style="min-height:230px; background-image: url('{% static './img/backbeauty.jpg' %}');">
              <div class="card-img-overlay ">
                <a><span class="badge badge-danger">bestseller</span></a>
                <h3 class="card-title font-weight-bold pt-2 ">Taking Good care of your skin and hair <br> right now</h3>
                <p class="card-text" style="max-width: 400px">Health and Beauty.</p>
                <a class="btn btn-danger btn-sm btn-rounded clearfix d-none d-md-inline-block"></i> Read more</a>
              </div>
            </div>
            <!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
                    </div> <!-- col.// -->
                    <div class="col-md-4">
            <!-- ============================ COMPONENT BANNER 8  ================================= -->
            <div class="card-banner overlay-gradient" style="min-height:230px; background-image: url('{% static './img/posts/3.jpg' %}');">
              <div class="card-img-overlay text-white">
                <h5 class="card-title text-white ">Best products</h5>
                <p class="card-text">No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
              </div>
            </div>
            <!-- ============================ COMPONENT BANNER 8  END .// ================================= -->
                    </div> <!-- col.// -->
            </div> 
        
            <br>
        
        
                  
        <!-- sect-heading -->
        
            
                
            <!--div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="img/items/1.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Just another product name</a>
                            
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active"> 
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                    </li>
                                </ul>
                                <span class="label-rating text-muted"> 34 reviws</span>
                            </div>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// ->
                        </figcaption>
                    </div>
                </div> <!- col.// ->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="img/items/2.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Some item name here</a>
                            
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active"> 
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                    </li>
                                </ul>
                                <span class="label-rating text-muted"> 34 reviws</span>
                            </div>
                            <div class="price mt-1">$280.00</div> <!- price-wrap.// ->
                        </figcaption>
                    </div>
                </div> <!-- col.// ->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="img/items/3.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Great product name here</a>
                            
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active"> 
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                    </li>
                                </ul>
                                <span class="label-rating text-muted"> 34 reviws</span>
                            </div>
                            <div class="price mt-1">$56.00</div> <!-- price-wrap.// ->
                        </figcaption>
                    </div>
                </div> <!-- col.// ->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="img/items/4.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Just another product name</a>
                            
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active"> 
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                    </li>
                                </ul>
                                <span class="label-rating text-muted"> 34 reviws</span>
                            </div>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// ->
                        </figcaption>
                    </div>
                </div> <!-- col.// ->
            </div--> <!-- row.// -->
            
            </div>
           <!-- container .//  -->

           <div class="container">

            <!-- Grid row -->
            <div class="row pt-4">
    
                <!-- Content -->
                <div class="col-lg-12">
    
                    <!-- Section: Intro -->
                    <section class="section pt-4">
    
                        <!-- Grid row -->
                        <div class="row">
    
                            <!--Grid column-->
                            <div class="col-lg-8 col-md-12 mb-3 pb-lg-2">
                                <!--Image -->
                                <div class="view zoom  z-depth-1">
    
                                    <img src="{% static 'img/plp.png' %}" width="1600px" height="721px" class="img-fluid" alt="">
                                    <div class="mask rgba-white-light">
                                        <div class="dark-grey-text d-flex align-items-center pt-3 pl-4">
                                            <div>
                                                <a><span class="badge badge-danger">bestseller</span></a>
                                                <h2 class="card-title font-weight-bold pt-2"><strong>Are you looking for something to wear this summer?</strong></h2>
                                                <p class=""> </p>
                                                <a href="{% url 'store' %}" class="btn btn-danger btn-sm btn-rounded clearfix d-none d-md-inline-block">Shop with Us</a>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                                <!--Image -->
                            </div>
                            <!--Grid column-->
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
    
                                <!-- Section: Categories -->
                                <section class="section">
                                  
    
    
                                    <ul class="list-group z-depth-1">
                                      <div class="card">
                                        <h3 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Features
                                          List</h3>
                                        <div class="card-body">
                                          <ul class="list-group">
                                            {% for category in links %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small" href="{{category.get_url}}"><i class="fas fa-laptop dark-grey-text mr-2" aria-hidden="true"></i>{{category.name}}</a>
                                            <a href="{{category.get_url}}"></a><span class="badge badge-danger badge-pill">43</span></a>
                                        </li>
                                        {% endfor %}
                                          </ul>
                                          <p class="text-small text-muted mb-0 pt-3"></p>
                                        </div>
                                      </div>
                                       
                                        <!--li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small"><i class="fas fa-mobile-alt dark-grey-text mr-3" aria-hidden="true"></i> Smartphone</a>
                                            
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small"><i class="fas fa-tablet-alt dark-grey-text mr-3" aria-hidden="true"></i> Tablet</a>
                                            
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small"><i class="fas fa-headphones-alt dark-grey-text mr-3" aria-hidden="true"></i>Heahphones</a>
                                           
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small"><i class="fas fa-camera-retro dark-grey-text mr-3" aria-hidden="true"></i>Camera</a>
                                            
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small"><i class="fas fa-suitcase dark-grey-text mr-3" aria-hidden="true"></i>Accesories</a>
                                            
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small"><i class="fas fa-tv dark-grey-text mr-3" aria-hidden="true"></i>TV</a>
                                            
                                        </li-->
                                    </ul>
                                </section>
                                <!-- Section: Categories -->
    
                            </div>
                            <!--Grid column-->
    
                        </div>
                        <!--Grid row-->
    
                    </section>
                    <!-- Section: Intro -->
                </div>
            </section>
            <section>

 

  <!-- Modal -->
 

</section>
            <br>
    <section class="section">
        <div class="container">
          
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 order-md-last align-items-stretch d-flex">
                          
                            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url({% static 'img/categories/fruits-vegetables.jpg' %});">
                                <div class="text text-center">
                                    <h2>PLP Online Store</h2>
                                    <p>Where you find the freshest products at!!!</p>
                                    <p><a href="" class="btn btn-primary">Shop now</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'img/categories/fruits.jpg' %});">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Fruits</a></h2>
                                </div>
                            </div-->
                            
                            <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'img/unnamed.jpg' %});">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Meat</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'img/categories/juices.jpg' %});">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Juices</a></h2>
                        </div>		
                    </div>
                    <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'img/fruit-veggies.jpg' %});">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Vegetables</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Group of personal cards-->
<section class="pt-5 mt-3 pb-3">
  <div class="container"> 

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-12">

      <!--Card group-->
      <div class="card-group">

        <!--Card-->
        <div class="card card-personal mb-4">

          <!--Card image-->
          <div class="view">
            <img class="card-img-top" src="{% static 'img/tenor.png' %}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <a>
              <h4 class="card-title"></h4>
            </a>
            <a class="card-meta"></a>

            <!--Text-->
            <p class="card-text"></p>
            <hr>
            
          </div>
          <!--Card content-->

        </div>
        <!--Card-->

        <!--Card-->
        <div class="card card-personal mb-4">

          <!--Card image-->
          <div class="view">
            <img class="card-img-top" src="{% static 'img/tenor.png' %}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <a>
              <h4 class="card-title"></h4>
            </a>
            <a class="card-meta"></a>

            <!--Text-->
            <p class="card-text"></p>
            <hr>
            
          </div>
          <!--Card content-->

        </div>
        <!--Card-->

        <!--Card-->
        <div class="card card-personal mb-4">

          <!--Card image-->
          <div class="view">
            <img class="card-img-top" src="{% static 'img/tenor.png' %}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <a>
              <h4 class="card-title"></h4>
            </a>
            <a class="card-meta"></a>

            <!--Text-->
            <p class="card-text"></p>
            <hr>
            
          </div>
          <!--Card content-->

        </div>
        <!--Card-->

      </div>
      <!--Card group-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
</div>
</section>
<!--Section: Group of personal cards-->

    <section class="padding-bottom">
        <div class="container"> 
        <div class="card card-deal">
            <div class="col-heading content-body">
             <header class="section-heading">
              <h3 class="section-title"></h3>
              <p></p>
            </header><!-- sect-heading ->
            <div class="timer">
              <div> <span class="num">04</span> <small>Days</small></div>
              <div> <span class="num">12</span> <small>Hours</small></div>
              <div> <span class="num">58</span> <small>Min</small></div>
              <div> <span class="num">02</span> <small>Sec</small></div>
            </div>
          </div> <!-- col.// -->
          <div class="row no-gutters items-wrap">
           <div class="col-md col-6">
            <figure class="card-product-grid card-sm">
             <a href="#" class="img-wrap"> 
              <img src="{% static 'img/tenor.png' %}"> 
             </a>
             <div class="text-wrap p-3">
                  <a href="#" class="title">Summer clothes</a>
                  <span class="badge badge-danger"> -20% </span>
             </div>
          </figure>
        </div> <!-- col.// -->
        <div class="col-md col-6">
          <figure class="card-product-grid card-sm">
           <a href="#" class="img-wrap"> 
            <img src="{% static 'img/tenor.png' %}"> 
          </a>
          <div class="text-wrap p-3">
            <a href="#" class="title">Some category</a>
            <span class="badge badge-danger"> -5% </span>
          </div>
        </figure>
       </div> <!-- col.// -->
       <div class="col-md col-6">
        <figure class="card-product-grid card-sm">
         <a href="#" class="img-wrap"> 
          <img src="{% static 'img/tenor.png' %}"> 
        </a>
        <div class="text-wrap p-3">
          <a href="#" class="title">Another category</a>
          <span class="badge badge-danger"> -20% </span>
        </div>
       </figure>
       </div> <!-- col.// -->
       <div class="col-md col-6">
        <figure class="card-product-grid card-sm">
         <a href="#" class="img-wrap"> 
          <img src="{% static 'img/tenor.png' %}"> 
        </a>
        <div class="text-wrap p-3">
          <a href="#" class="title">Home apparel</a>
          <span class="badge badge-danger"> -15% </span>
        </div>
       </figure>
       </div> <!-- col.// -->
       <div class="col-md col-6">
        <figure class="card-product-grid card-sm">
         <a href="#" class="img-wrap"> 
          <img src="{% static 'img/tenor.png' %}"> 
        </a>
        <div class="text-wrap p-3">
          <a href="#" class="title text-truncate">Smart watches</a>
          <span class="badge badge-danger"> -10% </span>
        </div>
       </figure>
       </div> <!-- col.// -->
       </div>
       </div>
    </div>
       </section>
{% endblock content %}