{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Register {% endblock %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
      {% if not form.is_valid %}
        <div class="card mx-auto" style="max-width:500px; margin-top:40px;">
          <article class="card-body">
            <h4 class="card-title">Sign up</h4>
            <form method="post">
              {% csrf_token %}
                {{form | crispy}} 
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> SignUp  </button>
              </div> <!-- form-group end.// -->           
                </form>
            </article><!-- card-body.// -->
        </div>
        {% else %}
        <p class="text-center mt-4">Your account has been created</p> 
        <a href="{% url 'home' %}">go to home page</a>
        {% endif %}<!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
   
    </section>

{% endblock content %}